body, html{
    background:black;
    height:100%;
    margin:0%;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

.space1, .space2, .space3, .space4, .space5 {
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /*parallex effect*/
    background-attachment:fixed;
}

.space1{
    background-image:url("photos/G02_GroupShot_Edits.jpeg");
    min-height:100%;
}

.space2{
    background-image:url("photos/journey-silhouette.png");
    min-height:400px;
}

.space3{
    background-image:url("photos/earthview-desktop.png");
    min-height:400px;
}

.space4{
    background-image:url("photos/Screen Shot 2023-07-18 at 8.09.05 PM.png");
    min-height:400px;
}

.space5{
    background-image:url("photos/footer-desktop.png");
    min-height:400px;
}

.section{
    text-align:center;
    padding:50px 80px;
}

.section-dark{
    background-color: black;
    /*background-color:#282e34;*/
    color:#ddd;
}

.ptext1, .ptext2, .ptext3, .ptext4, .ptext5 {
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.ptext1 .border{
    background-color:#111;
    color:white;
    padding:20px;
}

.ptext2, .ptext3, .ptext4, .ptext5, .border.trans{
    background-color:transparent;
    color:white;
}

button{
    background:#c80afb;
    align-items: center;
    border-radius: 60px;
    color:#fff;
    cursor:pointer;
    display:inline-flex;
    height:46px;
    overflow:hidden;
    padding: 0 24px;
    position: relative;
    font-family: sans-serif;
    flex-direction: row;
}

.marsphoto{
    color:white;
}

@media(max-width:568px){
    .space1, .space2, .space3, .space4, .space5{
        background-attachment:scroll;

    }
}

.copy {
    text-align: center;
    font-size: small;
}